﻿<!DOCTYPE html>

<head>
    <title>Housing & Cuisine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Housing & Cuisine, Houses, Foods" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->




    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" media="screen">
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>*@



    @*<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>*@
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBXxBBlExcBZFwDRBjiAIYpDnl8ASU8Ua0&lamguage=en&region=US">
    </script>


    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/css/style.css" rel="stylesheet"  type="text/css" media="all" />
    <link href="~/css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
    <link href="~/css/animate.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"> <!-- carousel slider -->
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
  
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/media.css" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    
    <!-- web-fonts -->
    <!-- scroll to fixed-->
    <script defer src="~/Scripts/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
    <script>
	// Can also be used with $(document).ready()
	$(window).load(function() {
	  $('.flexslider').flexslider({
		animation: "slide",
		controlNav: "thumbnails"
	  });
	});
    </script><script src="~/Scripts/jquery-scrolltofixed-min.js" type="text/javascript"></script>
   
    <!-- //scroll to fixed-->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
	$(document).ready(function() {

		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
		};

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="~/Scripts/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
	$(function()
	{
		$('.scroll-pane').jScrollPane();
	});
    </script>
    <!-- //the jScrollPane script -->
    <script type="text/javascript" src="~/Scripts/jquery.mousewheel.js"></script>
    <!-- the mousewheel plugin -->
    <script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
    </script>



    <style> 
    .logo {
    height: 150px;
    width: 216px;
    margin-top: -10px;
    margin-left: 8%;
}

   

   
    </style>
</head>
<div class="header">
    <div class="w3ls-header">
            <div class="w3ls-header-left">
              <p> 
                  <a href="@Url.Action("Index", "Home")">HOMEMADE DISHES IN LOW PRICE | VISIT CUISINE MODULE </a>
               </p>  
            </div>
            <div class="w3ls-header-right">               
                    @Html.Partial("_LoginPartial")                    
            </div>

            <div class="clearfix"> </div>
        </div>
    <div class="header-two">
        <!-- header-two -->
        <div class="container-fluid text-center">
            <div class=" text-center">
                <a href="@Url.Action("Index", "Home")">

                    <img class="logo text-center" src="~/Images/Logo.jpeg" alt="" class="img-responsive" />
                </a>
                <div class="header-cart">
                    <div class="my-account pull-right">
                        <a href="@Url.Action("Contact", "Home")"><i class="fa fa-map-marker" aria-hidden="true"></i> CONTACT US</a>
                    </div>

                    <div class="clearfix"> </div>
                </div> 
            </div>
            <div class="header-search">            
                  <!--<img style="width:900px;height:147px;margin-left:2%;" src="~/Images/1.jpg" alt="" class="img-responsive" />-->  
                @*<form action="#" method="post">*@
                    @*<input type="search" name="Search" placeholder="Search for a Product..." required>
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>*@
                @*</form>*@
            </div>
            
           
        </div>
    </div><!-- //header-two -->
    <div class="header-three">
        <!-- header-three -->
        <div class="container">
            <div class="menu">
                
            </div>
            <div class="move-text">
                <div class="marquee"><a href="offers.html"> New things are available here...... <span>Get homemade dishes at a low price | no extra taxes </span> <span> Get your desire home</span></a></div>
                <script type="text/javascript" src="~/Scripts/jquery.marquee.min.js"></script>
                <script>
					  $('.marquee').marquee({ pauseOnHover: true });
                    //sourceURL=pen.js

                </script>
            </div>
        </div>
    </div>
</div>
    <div >
        @RenderBody()
    </div>

<div class="footer">
    <div class="container">
        <div class="footer-info w3-agileits-info">
            <div class="col-md-4 address-left agileinfo" style="float:left;  width:324px; height:350px">
                <div class="footer-logo header-logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="logo" src="~/Images/Logo.jpeg" alt="" /></a>
                </div>
                <ul>
                    <li><i class="fa fa-map-marker"></i> Harbanspura Lahore</li>
                    <li><i class="fa fa-mobile"></i> 0331-9000056 </li>
                  
                    <li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> baigtalha7@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-8 address-right" style="float:left; width:730px; height:145.766px">
                <div class="col-md-6 footer-grids" style="float:left; width:335px">
                    <h3>Company</h3>
                
                    <ul>
                        <li>
                            <a href="@Url.Action("About", "Home")" >
                                <span>About Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("MarketPlace", "Home")" >
                                <span>Market Place</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact", "Home")" >
                                <span>Contact Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Privacy", "Home")" >
                                <span>Privacy Policy</span>
                            </a>
                        </li>
                    </ul>
                </div>
              
                <div class="col-md-6 footer-grids" style="float:left; width:335px">
                    <h3>Services</h3>
                    <ul>
                       <li>
                            <a href="@Url.Action("Values", "Home")" >
                                <span>Core Values</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SiteMap", "Home")">
                                <span>SiteMap</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Help", "Home")">
                                <span>Help</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("faq", "Home")">
                                <span>FAQ</span>
                            </a>
                        </li>
                   
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.knob.js"></script>
<script src="~/Scripts/jquery.throttle.js"></script>
<script src="~/Scripts/jquery.classycountdown.js"></script>
<script>

			$(document).ready(function() {
				$('#countdown1').ClassyCountdown({
					end: '1388268325',
					now: '1387999995',
					labels: true,
					style: {
						element: "",
						textResponsive: .5,
						days: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#1abc9c",
								lineCap: 'round'
							},
							textCSS: 'font-weight:300; color:#fff;'
						},
						hours: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#05BEF6",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						minutes: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#8e44ad",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						seconds: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#f39c12",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						}

					},
					onEndCallback: function() {
						console.log("Time out!");
					}
				});
			});
</script>
<!-- //countdown.js -->
<!-- menu js aim -->
<script src="~/Scripts/jquery.menu-aim.js"> </script>
<script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->


<!-- //footer -->
<div class="copy-right">
    <div class="container">
        <p>©2019 Housing & Cuisine . All rights reserved. </p>
    </div>
</div>

<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)