﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()



        <ul>
            <li class="dropdown head-dpdn">

                <a class="dropdown-toggle">
                    <i class="fa fa-user" area-hidden="true">
                    </i>

                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-toggle" })
                </a>

            </li>
            <li class="dropdown head-dpdn">

                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-toggle"><i class="fa fa-sign-out" area-hidden="true"></i> Log Out</a>
            </li>
        </ul>
    }
}
else
{
    <ul>
        <li class="dropdown head-dpdn">

            <a class="dropdown-toggle">
                <i class="fa fa-sign-in" area-hidden="true"></i>
                @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-toggle" })
            </a>
        </li>
        <li class="dropdown head-dpdn">

            <a class="dropdown-toggle">
                <i class="fa fa-user" area-hidden="true"></i>
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-toggle" })

            </a>
        </li>
    </ul>
}
