﻿@model HousingCousine1.ViewModel.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email Id</label>
            @Html.TextBox("EmailId", "", new { @class = "form--control" })

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input onclick="myFunction()" type="submit" value="Submit" class="btn btn-success" />

            </div>
        </div>
    </div>

}
<script>
function myFunction() {
  alert("Email has been sent to your Account");
}
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
