﻿@using HousingCousine1.ViewModel
@model LoginViewModel
<style>
.login-body {
    width: 45%;
    margin-left: 35%;
}
h3.w3ls-title.w3ls-title1 {
    text-align: center;
    margin: 0 0 1.5em;
    font-size: 2.5em;
    margin-left: 12%;
}
.login-page h6 {
    font-size: 1.1em;
    color: #999;
    margin: 2em 0 0;
    margin-left: 12%;
}
   </style >
<body>

    <div class="login-page  ">
        <div class="container ">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h3 class="w3ls-title w3ls-title1">Login to your account</h3>
                        <div class="login-body">
                        <form action="#" method="post">
                            <div class="col-md-11">
                                @Html.TextBoxFor(m => m.Username, new { placeholder = "Enter User Name", @class = "user" })

                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })


                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "lock" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                           
                                <div class="col-md-12">
                                    <input type="submit" value="Login"> </div>
                                </div>
                            <div class="clearfix"> </div>
                                <div class="forgot-grid">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Remember me</label>
                                    <div class="forgot">
                                        <a href="#">@Html.ActionLink("Forget Password", "ForgotPassword")</a>
                                    </div>
                               
                                <div class="clearfix"> </div>
                            </div>

                        </form>
                </div>
                }
                </section>


                <h6> Not a Member? <a> @Html.ActionLink("Sign up now>>", "Register")</a> </h6>
              
            </div>
            <!-- //login-page -->
            <!-- footer-top -->

            <script src="~/Scripts/minicart.js"></script>
            <script>
                w3ls.render();

                w3ls.cart.on('w3sb_checkout', function (evt) {
                    var items, len, i;

                    if (this.subtotal() > 0) {
                        items = this.items();

                        for (i = 0, len = items.length; i < len; i++) {
                            items[i].set('shipping', 0);
                            items[i].set('shipping2', 0);
                        }
                    }
                });
            </script>
            <!-- //cart-js -->
            <!-- menu js aim -->
            <script src="~/Scripts/jquery.menu-aim.js"> </script>
            <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
            <!-- //menu js aim -->
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="~/Scripts/bootstrap.js"></script>
            </div>
        </body>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }