﻿@model HousingCousine1.ViewModel.RegisterViewModel

<style>

    .login-body {
    width: 45%;
    margin-left: 35%;
}
    h3.w3ls-title.w3ls-title1 {
    text-align: center;
    margin: 0 0 1.5em;
    font-size: 2.5em;
    margin-left: 10%;
}
    .form-horizontal .form-group {
    margin-right: -95px;
    margin-left: -15px;
}
    .login-page h6 {
    font-size: 1.1em;
    color: #999;
    margin: 2em 0 0;
    margin-left: 13%;
}
    </style>
<body>
    <!-- header -->
  
    <!-- //header -->
    <!-- login-page -->
    <div class="login-page">
        <div class="container">
            <section id="loginForm">
                               
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
<h3 class="w3ls-title w3ls-title1">Create your account</h3>  

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="login-body" >
                <div class="form-group">
      
            @*@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })*@
           <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter First Name", @class = "user" })
            </div>
       
      
            @*@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })*@
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter Last Name", @class = "user" })
            </div>
        
      
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Enter your UserName", @class = "user" })
            </div>
        
      
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "lock" })
            </div>
       
      
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "lock" })
            </div>
       
            
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your Email", @class = "user" })
            </div>
      
            
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Address, new { placeholder = "Enter your Address", @class = "user" })
            </div>
        
            
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNo, new { placeholder = "Enter your Phone No", @class = "user" })
            </div>
        </div>

        <div >
            <div class="col-md-10">
                <div class="col-md-5" style="margin-left:6px;font-size:20px;text-decoration-style:solid">Role</div>
                <div class="col-md-5"  style="margin-left:2px">
                    @Html.DropDownListFor(m => m.RoleName, (List<SelectListItem>)ViewBag.RoleName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Sign Up"/>
            </div>
        </div>
        </div>
        <h6>Already have an account? <a >@Html.ActionLink("Login Now »", "Login")</a> </h6>
        <br />

        @*<p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>*@

        @*<h6> Not a Member? <a @Html.ActionLink("Sign up now>>", "Register")></a> </h6>
        *@

        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
}
</section>

          

        </div>
        <!-- //login-page -->
        <!-- footer-top -->
   
        <script src="~/Scripts/minicart.js"></script>
        <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
        </script>
        <!-- //cart-js -->
        <!-- menu js aim -->
        <script src="~/Scripts/jquery.menu-aim.js"> </script>
        <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
        <!-- //menu js aim -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="~/Scripts/bootstrap.js"></script>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
