﻿@model HousingCousine1.Models.HomeMade


<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("Create", "Cuisine", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="login-page">
            <div class="container">
                <section id="loginForm">
                    <h3 class="w3ls-title w3ls-title1">Add Dish</h3>
                    <div class="login-body">
                        <form action="#" method="post">
                            @Html.TextBoxFor(Model => Model.DishName, new { placeholder = "Enter your Dish Name", @class = "user" })
                            @Html.ValidationMessageFor(Model => Model.DishName, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.Price, new { pattern = "[0-9]*", min = "1", maxlength = "10", placeholder = "Price", @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.Price, "", new { @class = "text-danger" })


                            @Html.TextAreaFor(m => m.Description, new { rows = "5", cols = "40", placeholder = "Enter Description Here....", @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.Description, "", new { @class = "text-danger" })
                            <br />

                            @Html.TextBoxFor(Model => Model.Dishweight, new { placeholder = "Enter your Dish Weight", @class = "user" })
                            @Html.ValidationMessageFor(Model => Model.Dishweight, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.HomeMadeImages, new { type = "file", @onchange = "readURL(this) ;", multiple = "multiple" })

                            @Html.HiddenFor(m => m.Id, new { @id = "Id" })
                            <input type="submit" value="Add">

                        </form>
                    </div>
                    }
                </section>


            </div>
            <!-- //login-page -->
            <!-- footer-top -->
            <script src="~/Scripts/jquery.menu-aim.js"> </script>
            <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
            <script src="~/Scripts/bootstrap.js"></script>
        </div>

        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#pic')
                            .attr('src', e.target.result)
                            .width(200)

                    },

                    reader.readAsDataURL(input.files[0]);
                }
            }

        </script>

    }
</body>









@*@model HousingCousine1.Models.HomeMade


<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("Create", "Cuisine", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="login-page">
            <div class="container">
                <section id="loginForm">
                        <h3 class="w3ls-title w3ls-title1">Add Dish</h3>
                        <div class="login-body">
                            <form action="#" method="post">
                                @Html.TextBoxFor(Model => Model.DishName, new { placeholder = "Enter your Dish Name", @class = "user" })
                                @Html.ValidationMessageFor(Model => Model.DishName, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(m => m.Price, new { pattern = "[0-9]*", min = "1", maxlength = "10", placeholder = "Price", @class = "form-control" })
                                @Html.ValidationMessageFor(Model => Model.Price, "", new { @class = "text-danger" })

                                @Html.TextAreaFor(m => m.Description, new { rows = "5", cols = "40", placeholder = "Enter Description Here....", @class = "form-control" })
                                @Html.ValidationMessageFor(Model => Model.Description, "", new { @class = "text-danger" })
                                <br/>


                                @Html.TextBoxFor(Model => Model.Dishweight, new { placeholder = "Enter your Dish Weight", @class = "user" })
                                @Html.ValidationMessageFor(Model => Model.Dishweight, "", new { @class = "text-danger" })
                                
                                @Html.TextBoxFor(m => m.HomeMadeImages, new { type = "file", @onchange = "readURL(this) ;", multiple = "multiple" })

                                @Html.HiddenFor(m => m.Id, new { @id = "Id" })
                                <input type="submit" value="Add">
                            </form>
                       </div>
                 
                </section>
            </div>
            <!-- //login-page -->
            <!-- footer-top -->
            <script src="~/Scripts/jquery.menu-aim.js"> </script>
            <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
            <script src="~/Scripts/bootstrap.js"></script>
        </div>
      <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#pic')
                            .attr('src', e.target.result)
                            .width(200)
                    },
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    }
</body>*@


    