﻿@model HousingCousine1.Models.HomeMade

@{
    var AddItemToOrder = string.Empty;
    AddItemToOrder += "<button onclick='AddItemToOrder.OpenPopupWindow(#=HomeMadeId#)'>";
    AddItemToOrder += "Add to Order </button> ";
}


<style>
    .st {
        margin-right: 129px;
        font-size: 25px;
    }

        .st:hover {
            color: green;
        }
</style>
<body>
    <!-- header -->
    <!-- //header -->
    <!-- breadcrumbs -->
    <div class="container">
        <ol class="breadcrumb breadcrumb1">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active"><a @Html.ActionLink("Dishes", "Index")</a></li>
            <li class="active">Dish Detail</li>
        </ol>
        <div class="clearfix"> </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- products -->
    <div class="products">
        <div class="container" style="margin-left: 62px;">
            <div class="single-page">
                <div class="single-page-row" id="detail-21">
                    <div class="col-md-6 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">

                                @foreach (var item in Model.HomeMadeImages)

                                {
                                    if (item.ImagePath == null)
                                    {
                                        item.ImagePath = "noImage.png";
                                    }
                                    <li style="height:310px;width:245px;float:left" data-thumb="/UploadImage/@item.ImagePath">
                                        <div class="thumb-image detail_images"> <img src="~/UploadImage/@item.ImagePath" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                        @*<img style="width:180px;height:120px;border-radius:25px" src="~/UploadImage/@item.ImagePath" />*@
                                        <br /><br />
                                    </li>
                                }

                            </ul>
                        </div>
                        <br />

                    </div>
                    <div class="col-md-6 single-top-right">
                        <h3 class="item_name">@Html.DisplayFor(model => model.DishName)</h3>
                        <p>Posted By: @Html.DisplayFor(model => model.User.UserName) </p>

                        <div class="single-price">
                            <ul>
                                <li>@Html.DisplayFor(model => model.Price)</li>
                                <li>@Html.DisplayFor(model => model.Dishweight)</li>
                            </ul>
                        </div>
                        <div class="single-price">
                            <ul>
                                Posted on:@Html.DisplayFor(model => model.CreatedDate)
                            </ul>
                        </div>
                        <div class="buttons-wrapper">
                            <div class="row center  st">
                                @Html.ActionLink("Add in Order", "AddItemToOrder", "Order", new { id = Model.Id }, new { @class = "my-class" })<br>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>            <!-- //recommendations -->
            <!-- collapse-tabs -->
            <div class="collpse tabs">
                <h3 class="w3ls-title">About this item</h3>
                <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="fa fa-info-circle fa-icon" aria-hidden="true"></i> additional information <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fa fa-check-square-o fa-icon" aria-hidden="true"></i>Contact Info <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                @*Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.*@
                                <div> @Html.DisplayFor(model => model.User.UserName)</div>
                                <div>
                                    @Html.DisplayFor(model => model.User.Email)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.User.Country)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.User.PhoneNo)
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fa fa-question-circle fa-icon" aria-hidden="true"></i> help <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                If you have any querry so feel free to contact us.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //collapse -->
            <!-- offers-cards -->
            <!-- <div class="w3single-offers offer-bottom">
                        <div class="col-md-6 offer-bottom-grids">
                            <div class="offer-bottom-grids-info2">
                                <h4>Special Gift Cards</h4>
                                <h6>More brands, more ways to shop. <br> Check out these ideal gifts!</h6>
                            </div>
                        </div>
                        <div class="col-md-6 offer-bottom-grids">
                            <div class="offer-bottom-grids-info">
                                <h4>Flat $10 Discount</h4>
                                <h6>The best Shopping Offer <br> On Fashion Store</h6>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </div>
            </div>-->
            <!--//products-->
            <!-- footer-top -->
            <!-- //subscribe -->
            <!-- footer -->
            <!-- cart-js -->
            <script src="~/Scripts/minicart.js"></script>
            <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                    items[i].set('shipping', 0);
                    items[i].set('shipping2', 0);
                }
            }
        });
            </script>
            <!-- //cart-js -->
            <!-- menu js aim -->
            <script src="~/Scripts/jquery.menu-aim.js"> </script>
            <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
            <!-- //menu js aim -->
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
</body>
<script>
    function Delete(id) {
        debugger;
        if (confirm('Are You sure you want to delete')) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("Delete","Registration")/' + id,
                success: function (data) {
                    if (data.success) {
                        $('#table_id').dataTable.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            })
        }
    }

</script>
@section scripts
{
    @Scripts.Render("~/bundles/ItemGridManager")
}
