﻿@model HousingCousine1.Models.HomeMade

@{
    ViewBag.Title = "home";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Housing & Cuisine, Houses, Foods " />

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/ken-burns.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/menu.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    @*<style >
                     .product-top {
            background: #464646;
            padding: 1em 2em;
            width: 119%;
            margin-left: -11%;
            margin-bottom: 83px;
            height: 164px;
            color: white;
            margin-top: -10px;

        }
                     h3.w3ls-title {
            text-align: left;
            font-size: 2em;
            color: white;
            margin: 1em 0;
            font-family: 'Offside', cursive;
        }
                     .header-three {
            border-bottom: 8px solid #eaeaea;
            background: url(../images/bg.png)#000000 no-repeat;
            background-size: cover;
                margin-top: -63px;
        }
            </style>*@
</head>

<h3>
    @ViewBag.message1

</h3>
<h3>
    @ViewBag.message2

</h3>

<div class="banner">


    <div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="1900" data-pause="hover">
        <!-- Wrapper-for-Slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <!-- First-Slide -->
                <img src="~/images/Homepics.jpg" style="height:600px; width:1680px" alt="" class="img-responsive" />
                <div class="carousel-caption kb_caption kb_caption_right">
                    <h3 data-animation="animated flipInX">Taste <span>Like A</span> Home</h3>

                </div>
            </div>
            <div class="item">
                <!-- Second-Slide -->
                <img src="~/images/R3.jpg" style="height:600px; width:1680px" alt="" class="img-responsive" />
                <div class="carousel-caption kb_caption kb_caption_right">
                    <h3 data-animation="animated fadeInDown">Traditional Taste</h3>

                </div>
            </div>
            <div class="item">
                <!-- Third-Slide -->
                <img src="~/images/R2.jpg" style="height:600px; width:1680px" alt="" class="img-responsive" />
                <div class="carousel-caption kb_caption kb_caption_center">
                    <h3 data-animation="animated fadeInLeft"> New Items New Taste</h3>

                </div>
            </div>
            <div class="item">
                <!-- Fourth-Slide -->
                <img src="~/images/R4.jpg" style="height:600px; width:1680px" alt="" class="img-responsive" />
                <div class="carousel-caption kb_caption kb_caption_center">
                    <h3 data-animation="animated fadeInLeft">Our Latest Editorials</h3>

                </div>
            </div>
        </div>

    </div>

    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/owl.carousel.js"></script>

</div>


<!-- //banner -->
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div class="welcome-info">

            <div class="clearfix"> </div>

            <!-- deals -->
            <div class="deals" style="margin-top:-90px">
                <div class="container">
                    <div class="col-md-12 product-w3ls-right">
                        <h3 style="margin-left:18px" class="w3ls-title ">CATEGORIES </h3>

                        @*<ol class="breadcrumb breadcrumb1">
                                <h3 class="w3ls-title">CATEGORIES </h3>
                                <ul style="float:right">
                                    <li class="dropdown head-dpdn">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add New Item<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a>@Html.ActionLink("Add Property", "Create")</a></li>
                                            <li><a> @Html.ActionLink("My ADDS", "myadds")</a></li>

                                        </ul>
                                    </li>

                                </ul>
                            </ol>*@
                        @*<div class="product-top">
                                <h3 class="w3ls-title">CATEGORIES </h3>


                                <div class="clearfix"> </div>
                            </div>*@
                        @*<div class="product-top">
                                <h3 class="w3ls-title">CATEGORIES </h3>
                                <ul>
                                    <li class="dropdown head-dpdn">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> ADD DISHES <img style="height:30px" src="https://img.icons8.com/nolan/64/000000/menu.png"></a>
                                        <ul class="dropdown-menu">
                                            <li><a>@Html.ActionLink("Add Dishes", "Create")</a></li>
                                            <li><a> @Html.ActionLink("My ADDS", "myadds")</a></li>

                                        </ul>
                                    </li>

                                </ul>
                                <div class="clearfix"> </div>
                            </div>*@
                    </div>
                    <div>
                        @using (Html.BeginForm("Search", "Cuisine", FormMethod.Post))
                        {
                            <input style="width:922px;height:30px;margin-left:-10%;border: solid 2px red;padding-left: 20px;" type="text" name="Search" placeholder="Search for a DishName..." required>
                            <button style=" height 35px;
                                    width 6%;
                                    border-radius 24px;
                                    } " type="submit" value="Search" class="btn btn-default" aria-label="Left Align">
                                <i class="fa fa-search" aria-hidden="true"> </i>
                            </button>
                        }
                    </div>

                    <div class="deals-row">
                        <div class="col-md-3 focus-grid" style="width:255px; height:159px">

                            <a href="@Url.Action("Biryani", "Cuisine")" class="wthree-btn" style="width:234px; height:126px">
                                <h4 class="clrchg">Briyani</h4>
                            </a>

                        </div>
                        <div class="col-md-3 focus-grid" style="width:255px; height:159px">

                            <a href="@Url.Action("PIZA", "Cuisine")" class="wthree-btn  wthree3" style="width:234px; height:126px">
                                <h4 class="clrchg">Pizza</h4>
                            </a>
                        </div>
                        <div class="col-md-3 focus-grid" style="width:255px; height:159px">
                            <a href="@Url.Action("QORMA", "Cuisine")" class="wthree-btn  wthree2" style="width:234px; height:126px">

                                <h4 class="clrchg">Qorma</h4>
                            </a>
                        </div>
                        <div class="col-md-3 focus-grid" style="width:255px; height:159px">
                            <a href="@Url.Action("BBQ", "Cuisine")" class="wthree-btn  wthree5" style="width:234px; height:126px">

                                <h4 class="clrchg">BBQ</h4>
                            </a>
                        </div>
                        <div class="col-md-3 focus-grid" style="width:255px; height:159px">
                            <a href="@Url.Action("VEGETABLES", "Cuisine")" class="wthree-btn  wthree4" style="width:234px; height:126px">

                                <h4 class="clrchg">Vegetables</h4>
                            </a>
                        </div>
                        <div class="col-md-3 focus-grid" style="width:254px; height:159px">
                            <a href="@Url.Action("DESERT", "Cuisine")" class="wthree-btn" style="width:234px; height:126px">

                                <h4 class="clrchg">Desert</h4>
                            </a>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <!-- //deals -->
            <!-- coming soon -->
            @*<div class="soon">
                    <div class="container">
                        <h3>Desire Dishes</h3>
                        <h4>Coming Soon Don't Miss Out</h4>
                        <div id="countdown1" class="ClassyCountdownDemo"></div>
                    </div>
                </div>*@

        </div>
    </div>
</div>
<script src="~/Scripts/jquery.menu-aim.js"> </script>
<script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
<!-- //menu js aim -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Scripts/bootstrap.js"></script>