﻿@model HousingCousine1.ViewModel.AddItemToOrderModel

<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("AddItemToOrder", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="login-page">
            <div class="container">
                <section id="loginForm">
                    <h3 class="w3ls-title w3ls-title1">Add Order</h3>
                    <div class="login-body">
                        <form action="#" method="post">
                            @Html.TextBoxFor(Model => Model.HomeMade, new { placeholder = "Enter your Dish Name", @class = "user" })
                            @Html.ValidationMessageFor(Model => Model.HomeMade, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.Quantity, new { pattern = "[0-9]*", min = "1", maxlength = "10", placeholder = "Price", @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.Quantity, "", new { @class = "text-danger" })


                            @Html.TextBoxFor(Model => Model.Discription, new { placeholder = "Enter your Dish Description", @class = "user" })
                            @Html.ValidationMessageFor(Model => Model.Discription, "", new { @class = "text-danger" })

                            @Html.HiddenFor(m => m.HomeMadeId, new { @id = "Id" })
                            @Html.HiddenFor(m => m.UserId, new { @id = "Id" })
                            @Html.HiddenFor(m => m.OrderId, new { @id = "Id" })
                            <input onclick="myFunction()" type="submit" value="Add">

                        </form>
                    </div>
                    }
                </section>


            </div>
            <!-- //login-page -->
            <!-- footer-top -->
            <script src="~/Scripts/jquery.menu-aim.js"> </script>
            <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
            <script src="~/Scripts/bootstrap.js"></script>
        </div>

        <script>
            function myFunction() {
                alert("Your order has been added");
            }
        </script>
        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#pic')
                            .attr('src', e.target.result)
                            .width(200)

                    },

                    reader.readAsDataURL(input.files[0]);
                }
            }

        </script>

    }
</body>
