﻿@model IEnumerable<HousingCousine1.Models.OrderDetail>

@{
    ViewBag.Title = "Detail";
}

<div style="margin-left:6%;margin-top:4%;margin-bottom:4%;">
    <h2 >Detail</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeMade.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.HomeMade.DishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
               
                 <td >
                  
                    @Html.ActionLink("SendOrder", "SendOrder", new { id = item.OrderDetailId }, new
               {
                   onclick = "myFunction()"
               })
                </td>
            </tr>
        }

    </table>
</div>

<script>
            function myFunction() {
                alert("Your order has been Send");
            }
</script>