﻿@model IEnumerable<HousingCousine1.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h3 style="margin-left:6%;margin-top:4%;margin-bottom:4%;">
    My orders
</h3>
<div style="margin-left:6%;margin-top:4%;margin-bottom:4%;">
    <table class="table">
        <tr>
            <th>
                DATE
            </th>
            <th>
                STATUS
            </th>
            <th>
                NAME
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>

                <td>
                    @if (item.IsDispatched == true)
                    { <text>Dispatched</text>}
                    else
                    {<text>Pending</text> }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Detail", new { id = item.OrderId }, new { @class = "my-class" })<br>
                </td>
            </tr>
        }

    </table>
</div>