﻿@model HousingCousine1.Models.Restaurant

@{
    ViewBag.Title = "Create";
}

<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <h2>
        @if (ViewBag.Error != null)
        {
            @ViewBag.Error
        }
    </h2>
    @using (Html.BeginForm("Create", "Restaurant", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="login-page">
            <div class="container">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3 class="w3ls-title w3ls-title1">Add Restaurant</h3>
                        <div class="login-body">
                            <form action="#" method="post">
                                <div class="form-horizontal">
                                    
                                 
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <h4 class = "control-label col-md-2">Name:</h4>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.RestaurantName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RestaurantName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h4 class = "control-label col-md-2">Description:</h4>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.RestaurantDescription, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RestaurantDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h4 class = "control-label col-md-2">Address:</h4>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.RestaurantAddress, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.RestaurantAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h4 class = "control-label col-md-2">Phone:</h4>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.PhoneNum, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNum, "", new { @class = "text-danger" })
                                        </div>
                                    </div>                                    

                                    <div class="form-group">
                                        <h4 class="control-label col-md-2">Link:</h4>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h4 class="control-label col-md-2">Link:</h4>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(model => model.RestaurantImages, new { type = "file", @onchange = "readURL(this) ;", multiple = "multiple" })
                                            @Html.ValidationMessageFor(model => model.RestaurantImages, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.RestaurantId, new { @id = "Id" })
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-8">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </section>


            </div>
            <!-- //login-page -->
            <!-- footer-top -->
            <script src="~/Scripts/jquery.menu-aim.js"> </script>
            <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
            <script src="~/Scripts/bootstrap.js"></script>
        </div>


        @*<div class="col-lg-4">
                <h3>Property Image</h3>

                <br />
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PropertyImages, new { type = "file", @onchange = "readURL(this) ;", multiple = "multiple" })


                </div>

                <img style="border-radius: 25px;" id="pic" src="" alt="" />


            </div>*@

        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#pic')
                            .attr('src', e.target.result)
                            .width(200)

                    },

                    reader.readAsDataURL(input.files[0]);
                }
            }

        </script>

    }
</body>



@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Restaurant</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RestaurantName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RestaurantName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RestaurantName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RestaurantDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RestaurantDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RestaurantDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RestaurantAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RestaurantAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RestaurantAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
