﻿<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <div>
        <div class="col-md-6 ">
            <h3><b>Restaurants</b></h3>
        </div>

        <div class="col-md-6 ">
            @if (@ViewBag.Result == "Admin")
            {
                <a style="width:210px;float:left;" class="waves-effect waves-light btn hoverable mg-rg" href="@Url.Action("Create", "Restaurant")">Add Restaurants</a>
          
                <a style="width:210px;float:left;" class="waves-effect waves-light btn hoverable mg-rg" href="@Url.Action("List", "Restaurant")">View Restaurants</a>
            }
            else
            {
                <a style="width:210px" class="waves-effect waves-light btn hoverable mg-rg" href="@Url.Action("List", "Restaurant")">View Restaurants</a>
            }

<br />

        </div>
    </div>

    <!--The div element for the map -->
    <div id="map"></div>

    <script>
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.HYBRID
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var marker = new google.maps.Marker({ position: pos, map: map });

                    //infoWindow.setPosition(pos);

                    //infoWindow.setContent('Location found.');
                    //infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }</script>




    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXxBBlExcBZFwDRBjiAIYpDnl8ASU8Ua0&callback=initMap">
    </script>
</body>
</html>




@*@{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>


        <div id="ap-dialouge1">
            <div id="fordraging">
                <input id="pac_input" class="controls" type="text" placeholder="search"><input type="button" class="btn btn-primary searchbut" id="searchid" value="Search" style="margin-top:9px;" />
            </div>
            <div id="Mmap" style="height:600px ;width:1300px;"></div>

    </div>
    <script>
        debugger;
            var uluru = { lat: 31.531028, lng: 74.321027 };
            var map = new google.maps.Map(document.getElementById('Mmap'), {
                zoom: 12,
                center: uluru,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                },
                scaleControl: true,
                scaleControlOptions: {
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                },
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                },
                mapTypeControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_BOTTOM
                },
            });

            var trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);

            var input = document.getElementById('pac-input');
            var button = document.getElementById('searchid');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(input);

            map.controls[google.maps.ControlPosition.TOP_CENTER].push(button);

            document.getElementById('searchid').onclick = function () {
                google.maps.event.trigger(input, 'focus')
                google.maps.event.trigger(input, 'keydown', { keycode: 13 });
            };
            var markers = [];
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (places) {
                    if (!places.geometry) {
                        console.log("Returned place contain in geometry");
                        return;
                    }
                    var icon = {
                        url: place.icon,
                        size: new google.map.Size(71, 71),
                        origin: new google.map.Point(0, 0),
                        anchor: new google.map.Point(17, 34),
                        scaledsize: new google.map.Size(25, 25),

                    };
                    markers.push(new google.maps.marker({
                        map: map,
                        icon: icon,
                        title: places.name,
                        position: place.geometry.location
                    }));
                    if (place.geometry.viewport) {
                        bounds.union(place.geometry.viewport);
                    }
                    else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
    </script>*@
