﻿<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    
    <div class="buttons-wrapper">
        <div>
            <a  style="margin-top:34%;width: 87%; " class="waves-effect waves-light btn hoverable mg-rg" href="@Url.Action("Index", "Restaurant")">Nearby Restaurants</a>
            <br>
           
        </div>
    </div>
    <!--The div element for the map -->
    <div id="map"></div>

    <script> var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 17
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var marker = new google.maps.Marker({ position: pos, map: map });

                    //infoWindow.setPosition(pos);

                    //infoWindow.setContent('Location found.');
                    //infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }</script>
    @*<script>
// Initialize and add the map
function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 6});
  var uluru = {lat: -25.344, lng: 131.036};
  
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>*@
   
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXxBBlExcBZFwDRBjiAIYpDnl8ASU8Ua0&callback=initMap">
    </script>
</body>
</html>

















    
@*<fieldset>
  

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

    
    <div id="map" ></div>
     <script>            
         var map, infoWindow;
         function initMap() {
             map = new google.maps.Map(document.getElementById('map'), {
                 center: { lat: -34.397, lng: 150.644 },
                 zoom: 6
             });
             infoWindow = new google.maps.InfoWindow;

             // Try HTML5 geolocation.
             if (navigator.geolocation) {
                 navigator.geolocation.getCurrentPosition(function (position) {
                     var pos = {
                         lat: position.coords.latitude,
                         lng: position.coords.longitude
                     };

                     infoWindow.setPosition(pos);
                     infoWindow.setContent('Location found.');
                     infoWindow.open(map);
                     map.setCenter(pos);
                 }, function () {
                     handleLocationError(true, infoWindow, map.getCenter());
                 });
             } else {
                 // Browser doesn't support Geolocation
                 handleLocationError(false, infoWindow, map.getCenter());
             }
         }

         function handleLocationError(browserHasGeolocation, infoWindow, pos) {
             infoWindow.setPosition(pos);
             infoWindow.setContent(browserHasGeolocation ?
                                   'Error: The Geolocation service failed.' :
                                   'Error: Your browser doesn\'t support geolocation.');
             infoWindow.open(map);
         }

        //function myMap() {
        //               infoWindow = new google.maps.InfoWindow;

        //    // Try HTML5 geolocation.
        //    if (navigator.geolocation) {
        //        navigator.geolocation.getCurrentPosition(function (position) {
        //            var pos = {
        //                lat: position.coords.latitude,
        //                lng: position.coords.longitude
        //            };

        //            infoWindow.setPosition(pos);
        //            infoWindow.setContent('Location found.');
        //            infoWindow.open(map); map.setCenter(pos);
        //        }, function () {
        //            handleLocationError(true, infoWindow, map.getCenter());
        //        });
        //    } else {
        //        // Browser doesn't support Geolocation
        //        handleLocationError(false, infoWindow, map.getCenter());
        //    }


        //    var mapCanvas = document.getElementById("map");
        //    var mapOptions = {
        //        center: new google.maps.LatLng(20.296100, 85.824500),
        //        zoom: 18,
        //        mapTypeId: google.maps.MapTypeId.HYBRID
        //    };
        //    var map = new google.maps.Map(mapCanvas, mapOptions);
        //}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn9Dz-aYsVtQLbCUuo2v56ZDUnwzAScks&callback=myMap"></script>

</fieldset>
    @*<fieldset>
            <legend style="font-family: Arial Black; color: blue; font-size: large;">Check Animate Marker On Bhubaneswar</legend>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <div id="map" style="width:100%;height:500px"></div>
            <script>

                function myMap() {
                    var mapCanvas = document.getElementById("map");
                    var myCenter = new google.maps.LatLng(20.296100, 85.824500);
                    var mapOptions = { center: myCenter, zoom: 14 };
                    var map = new google.maps.Map(mapCanvas, mapOptions);
                    var marker = new google.maps.Marker({
                        position: myCenter,
                        animation: google.maps.Animation.BOUNCE
                    });
                    marker.setMap(map);
                }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV7kHXnCoRXl7dD5roSD8TaDgg5D81CsE&callback=myMap"></script>

        </fieldset>*@
    @*@{
            Layout = null;
        }
        <!DOCTYPE html>
        <html>
        <head>
            <title>Location</title>
            <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
            <meta charset="utf-8">
            <style>
                 /* Always set the map height explicitly to define the size of the div
                * element that contains the map. */
                 #map {
                     height: 80%;
                 }
                 /* Optional: Makes the sample page fill the window. */
                 html, body {
                     height: 100%;
                     margin: 0;
                     padding: 0;
                 }
            </style>
        </head>
        <body>
            <div id="map"></div>
            <script>
              // Note: This example requires that you consent to location sharing when
              // prompted by your browser. If you see the error "The Geolocation service
              // failed.", it means you probably did not give permission for the browser to
              // locate you.
              var map, infoWindow;
              function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: -34.397, lng: 150.644},
                  zoom: 6
                });
                infoWindow = new google.maps.InfoWindow;

                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                  }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                  });
                } else {
                  // Browser doesn't support Geolocation
                  handleLocationError(false, infoWindow, map.getCenter());
                }
              }

              function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                                      'Error: The Geolocation service failed.' :
                                      'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
              }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV7kHXnCoRXl7dD5roSD8TaDgg5D81CsE&callback=initMap">
            </script>
        </body>
        </html>*@
