﻿@model HousingCousine1.Models.Property


<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <h2>
        @if (ViewBag.Error != null)
        {
            @ViewBag.Error
        }
    </h2>

    @using (Html.BeginForm("Create", "Housing", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        <div class="login-page">
            <div class="container">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3 class="w3ls-title w3ls-title1">Add Product</h3>
                        <div class="login-body">
                            <form action="#" method="post">
                                @Html.TextBoxFor(Model => Model.PropertyName, new { placeholder = "Enter your Property Name", @class = "user" })
                                @Html.ValidationMessageFor(Model => Model.PropertyName, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(m => m.Price, new { pattern = "[0-9]*", min = "1", maxlength = "10", placeholder = "Price", @class = "form-control" })
                                @Html.ValidationMessageFor(Model => Model.Price, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(Model => Model.City, new { placeholder = "Enter your City", @class = "user" })
                                @Html.ValidationMessageFor(Model => Model.City, "", new { @class = "text-danger" })


                                @Html.TextBoxFor(Model => Model.Location, new { placeholder = "Enter your Location", @class = "user" })
                                @Html.ValidationMessageFor(Model => Model.Location, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(m => m.Marla, new { pattern = "[0-9]*", min = "1", maxlength = "10", placeholder = "Marla", @class = "form-control" })
                                @Html.ValidationMessageFor(Model => Model.Marla, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(m => m.Bed, new { pattern = "[0-9]*", min = "1", maxlength = "10", placeholder = "Bed", @class = "form-control" })
                                @Html.ValidationMessageFor(Model => Model.Bed, "", new { @class = "text-danger" })

                                @Html.TextBoxFor(m => m.Bath, new { pattern = "[0-9]*", min = "1", maxlength = "10", placeholder = "Bath", @class = "form-control" })
                                @Html.ValidationMessageFor(Model => Model.Bath, "", new { @class = "text-danger" })


                                @Html.TextAreaFor(m => m.PropertyDescription, new { rows = "5", cols = "40", placeholder = "Enter Description Here....", @class = "form-control" })
                                @Html.ValidationMessageFor(Model => Model.PropertyDescription, "", new { @class = "text-danger" })

                                <br />
                                <label>Rent</label>
                                @Html.EditorFor(model => model.IsPropertyForRent, new { @class = "checkbox" })
                                @Html.ValidationMessageFor(model => model.IsPropertyForRent, "", new { @class = "text-danger" })

                                <label>Sale</label>
                                @Html.EditorFor(model => model.IsPropertyForRent, new { @class = "checkbox" })
                                @Html.ValidationMessageFor(model => model.IsPropertyForRent, "", new { @class = "text-danger" })




                                @Html.TextBoxFor(m => m.PropertyImages, new { type = "file", @onchange = "readURL(this) ;", multiple = "multiple" })

                                @Html.HiddenFor(m => m.PropertyId, new { @id = "Id" })
                                <input type="submit" value="Create">

                            </form>
                        </div>
                    }
                </section>


            </div>
            <!-- //login-page -->
            <!-- footer-top -->
            <script src="~/Scripts/jquery.menu-aim.js"> </script>
            <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
            <script src="~/Scripts/bootstrap.js"></script>
        </div>


        @*<div class="col-lg-4">
                <h3>Property Image</h3>

                <br />
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PropertyImages, new { type = "file", @onchange = "readURL(this) ;", multiple = "multiple" })


                </div>

                <img style="border-radius: 25px;" id="pic" src="" alt="" />


            </div>*@

        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#pic')
                            .attr('src', e.target.result)
                            .width(200)

                    },

                    reader.readAsDataURL(input.files[0]);
                }
            }

        </script>

    }
</body>


