﻿@model HousingCousine1.Models.Property

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/jssor.slider-27.5.0.min.js"></script>
    <script src="~/js/myscript.js"></script>
    <link href="~/css/mycss.css" rel="stylesheet" />

    <link href="css/animate.min.css" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
    <link href="css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"> <!-- carousel slider --> 
</head>
<body >
    <!-- header -->
    <!-- //header -->
    <!-- breadcrumbs -->
    <div class="container">
        <ol class="breadcrumb breadcrumb1">
            <li><a >@Html.ActionLink("Home", "Home")</a></li>
            <li class="active"><a> @Html.ActionLink("Properties", "Home")</a></li>
            <li class="active">Property Detail</li>
        </ol>
        <div class="clearfix"> </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- products -->

    <div class="products">
        <div class="container">
            <div class="single-page">
                <div class="single-page-row" id="detail-21">
                    <div class="col-md-6 single-top-left">
                   
                        <!--My Slider-->


                        <div >
                            <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:480px;overflow:hidden;visibility:hidden;">
                                <!-- Loading Screen -->
                                <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                                    <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
                                </div>
                                <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
                                    
                                         @foreach (var item in Model.PropertyImages)
                                         {
                                             if (item.ImagePath == null)
                                             {
                                                 item.ImagePath = "noImage.png";
                                             }
                                            <div>
                                                <img data-u="image" src="~/UploadImage/@item.ImagePath"data-imagezoom="true" draggable="false" class="thumb-image img-responsive" />
                                                <img data-u="thumb" src="~/UploadImage/@item.ImagePath" />
                                            </div>
                                         }
                                            
                                        
                                </div>
                                <!-- Thumbnail Navigator -->
                                <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:#000;" data-autocenter="1" data-scale-bottom="0.75">
                                    <div data-u="slides">
                                        <div data-u="prototype" class="p" style="width:190px;height:90px;">
                                            <div data-u="thumbnailtemplate" class="t"></div>
                                            <svg viewbox="0 0 16000 16000" class="cv">
                                                <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                                                <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                                                <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <!-- Arrow Navigator -->
                                <div data-u="arrowleft" class="jssora106" style="width:55px;height:55px;top:162px;left:30px;" data-scale="0.75">
                                    <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                        <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                                        <polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
                                        <line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
                                    </svg>
                                </div>
                                <div data-u="arrowright" class="jssora106" style="width:55px;height:55px;top:162px;right:30px;" data-scale="0.75">
                                    <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                        <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                                        <polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
                                        <line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">jssor_1_slider_init();</script>
                    </div>

                   


                          <div class="col-md-6 single-top-right">
                        <h3 class="item_name">@Html.DisplayFor(model => model.PropertyName)</h3>
                        <p>Posted By: @Html.DisplayFor(model => model.User.UserName) </p>

                        <div class="single-price">
                            <ul>
                                <li>@Html.DisplayFor(model => model.Price)</li>
                            </ul>
                        </div>
                              <div class="single-price">
                                  <ul>
                                    Marla:  <li>@Html.DisplayFor(model => model.Marla)</li>
                                  </ul>
                              </div>
                              <div class="single-price">
                                  <ul>
                                    Beds:  <li>@Html.DisplayFor(model => model.Bed)</li>
                                  </ul>
                              </div>
                              <div class="single-price">
                                  <ul>
                                     Bath: <li>@Html.DisplayFor(model => model.Bath)</li>
                                  </ul>
                              </div>
                        <div class="single-price">
                            <ul>
                                Posted on:@Html.DisplayFor(model => model.CreatedDate)
                            </ul>
                        </div>
           
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
          
            <!-- collapse-tabs -->
            <div class="collpse tabs">
                <h3 class="w3ls-title">About this item</h3>
                <div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="fa fa-info-circle fa-icon" aria-hidden="true"></i> Additional information <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.PropertyDescription)
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fa fa-check-square-o fa-icon" aria-hidden="true"></i>Contact Info <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                @*Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.*@
                                <div> @Html.DisplayFor(model => model.User.UserName)</div>
                                <div>
                                    @Html.DisplayFor(model => model.User.Email)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.User.Country)
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.User.PhoneNo)
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fa fa-question-circle fa-icon" aria-hidden="true"></i> help <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                If you have any querry then feel freely to contact us...<a href="@Url.Action("Contact", "Home")"> Contact Us </a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //collapse -->
     
        </div>
    </div>
    <!--//products-->
    <!-- footer-top -->
    <!-- //subscribe -->
    <!-- footer -->
    <!-- cart-js -->
    <script src="~/Scripts/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                    items[i].set('shipping', 0);
                    items[i].set('shipping2', 0);
                }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- menu js aim -->
    <script src="~/Scripts/jquery.menu-aim.js"> </script>
    <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
    <!-- //menu js aim -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
<script>
    function Delete(id) {
        debugger;
        if (confirm('Are You sure you want to delete')) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("Delete","Registration")/' + id,
                success: function (data) {
                    if (data.success) {
                        $('#table_id').dataTable.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            })
        }
    }

</script>

