﻿@model HousingCousine1.Models.Property

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="login-page">
        <div class="container">
            <section id="loginForm">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.PropertyId)

                @Html.AntiForgeryToken()
                <h3 class="w3ls-title w3ls-title1">Edit Product</h3>
                <div class="login-body">
                    <form action="#" method="post">
                        @Html.TextBoxFor(Model => Model.PropertyName, new { placeholder = "Enter your Property Name", @class = "user" })
                        @Html.ValidationMessageFor(Model => Model.PropertyName, "", new { @class = "text-danger" })

                        @Html.TextBoxFor(m => m.Price, new { pattern = "[0-9]*", min = "1", maxlength = "10", placeholder = "Price", @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.Price, "", new { @class = "text-danger" })


                        @Html.TextAreaFor(m => m.PropertyDescription, new { rows = "5", cols = "40", placeholder = "Enter Description Here....", @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.PropertyDescription, "", new { @class = "text-danger" })

                        <br />
                        <label>Rent</label>
                        @Html.EditorFor(model => model.IsPropertyForRent, new { @class = "checkbox" })
                        @Html.ValidationMessageFor(model => model.IsPropertyForRent, "", new { @class = "text-danger" })


                        @Html.TextBoxFor(m => m.PropertyImages, new { type = "file", @onchange = "readURL(this) ;", multiple = "multiple" })

                        @Html.HiddenFor(m => m.PropertyId, new { @id = "Id" })
                        <input type="submit" value="Edit">

                    </form>
                </div>
             

            </section>
            <div class="container">
                <div class="col-md-3 product-grids">
                    @foreach (var item in Model.PropertyImages)
                {
                        <img style="width:180px;height:120px;border-radius:25px" src="~/UploadImage/@item.ImagePath" />
                        <br /><br />

                    }
                    <div class="editor-label">
                        <label>Images:</label>
                    </div>
                </div>
                </div>
            </div>
        <!-- //login-page -->
        <!-- footer-top -->
        <script src="~/Scripts/jquery.menu-aim.js"> </script>
        <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
        <script src="~/Scripts/bootstrap.js"></script>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#pict')
                    .attr('src', '#pic')
                    .width(200)
            },
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>