﻿
@model IEnumerable<HousingCousine1.Models.Property>
@if (Model.Count() == 0)
{
    <h3>No item found</h3>
}
@foreach (var item in Model)
{
    var imagename = item.PropertyImages.FirstOrDefault(c => c.IsDefaultImage == true)?.ImagePath;
    if (imagename == null)
    {
        imagename = "noImage.png";
    }


    <div id="ajax" class="products-row">
        <div class="col-md-3 product-grids" style="width:274px; height:390px">
            <div style="padding: 0.7em; width:255px; height:390px" class="agile-products">
                <div class="new-tag">
                    <h6>
                        @if (item.IsPropertyForRent == true)
                        { <text>Rent</text>}
                        else
                        {<text>Sale</text> }
                    </h6>
                </div>
                <img style="height:310px;width:235px;float:left" src="~/UploadImage/@imagename" alt="img">
                <div class="agile-product-text">
                    @Html.ActionLink("Details", "Details", new { id = item.PropertyId }, new { @class = "my-class" })<br>
                    <span style=" white-space nowrap; overflow hidden; text-overflow ellipsis;"> @Html.DisplayFor(modelItem => item.PropertyName) </span>
                    <h6>@Html.DisplayFor(modelItem => item.Price)</h6>
                    <form action="#" method="post">

                        <input type="hidden" name="amount" value=@Html.DisplayFor(modelItem => item.Price) />

                    </form>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
}