﻿@model HousingCousine1.Models.Property

@{
    ViewBag.Title = "home";
}


<head> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
        <style > .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            line-height: 1;
            width: 100%;
            height: 575px;
        }
    </style>

 </head>



<div id="myCarousel" class="carousel slide " data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

 <div class="carousel-inner" role="listbox">
      <div class="item active ">
        <img src="~/images/Homepic3.jpg" alt="New York" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Brand New Houses</h3>
          
        </div>      
      </div>

      <div class="item">
        <img src="~/images/Housi.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Well Furnished</h3>
          
        </div>      
      </div>
    
      <div class="item">
        <img src="~/images/housing.jpg" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Feel like Your own Home</h3>
         
        </div>      
      </div>
        <div class="item">
        <img src="~/images/12.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Your Dream House</h3>
          
        </div>      
      </div>
    </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
 

<!-- //banner -->
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div class="welcome-info">
            <div class="clearfix"> </div>              
            <!-- deals -->
            <div class="deals" style="margin-top:-90px">
                <div class="container">
                    <h3 style="margin-left:18px" class="w3ls-title ">CATEGORIES </h3>
                    <div class="deals-row">
                        <div class="col-md-3 focus-grid" style="width:255px; height:159px">
                            <a href="@Url.Action("Flats", "Housing")" class="wthree-btn" style="width:234px; height:126px">
                                <h4 class="clrchg">Flats</h4>
                            </a>
                        </div>
                        <div class="col-md-3 focus-grid" style="width:255px; height:159px">
                            <a href="@Url.Action("Rooms", "Housing")" class="wthree-btn  wthree3" style="width:234px; height:126px">
                                <h4 class="clrchg">Rooms</h4>
                            </a>
                        </div>
                        <div class="col-md-3 focus-grid" style="width:255px; height:159px">
                            <a href="@Url.Action("Plots", "Housing")" class="wthree-btn  wthree2" style="width:234px; height:126px">

                                <h4 class="clrchg">Plots</h4>
                            </a>
                        </div>
                        <div class="col-md-3 focus-grid" style="width:234px; height:159px">
                       
                                <a href="@Url.Action("House", "Housing")" class="wthree-btn" style="width:234px; height:126px">
                                    <h4 class="clrchg">Houses</h4>
                                </a>
                        </div>
                        <div class="col-md-3 focus-grid" style="width:234px; height:159px">
                            <a href="@Url.Action("Appartements", "Housing")" class="wthree-btn  wthree5" style="width:234px; height:126px">
                                <h4 class="clrchg">Appartments</h4>
                            </a>
                        </div>
                        <div class="col-md-3 focus-grid" style="width:234px; height:159px; margin-left: 22px;">
                            <a href="@Url.Action("Floors", "Housing")" class="wthree-btn  wthree4" style="width:234px; height:126px">

                                <h4 class="clrchg">Floors</h4>
                            </a>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <!-- //deals -->
        @*  <!-- coming soon -->
           <div class="soon">
        <div class="container">
            <h3>Desire Houses</h3>
            <h4>Coming Soon Don't Miss Out</h4>
            <div id="countdown1" class="ClassyCountdownDemo">

        </div>
    </div>

            <!-- //coming soon -->*@  
            <br />
        
        </div>
    </div>
</div>  

