﻿@model IEnumerable<HousingCousine1.Models.Property>


<body>

    <div class="products container">
        <div class="container">
            <div class="col-md-12 product-w3ls-right container">
    <!-- breadcrumbs -->
    <ol class="breadcrumb breadcrumb1">
        <li><a>@Html.ActionLink("Home", "Home")</a></li>
        <li class="active"><a> @Html.ActionLink("Property", "Index")</a></li>

        <ul style="float:right">
            <li class="dropdown head-dpdn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add New Item<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a>@Html.ActionLink("Add Property", "Create")</a></li>
                    <li><a> @Html.ActionLink("My ADDS", "myadds")</a></li>

                </ul>
            </li>

        </ul>
    </ol>
    <!-- //breadcrumbs -->

    <div class="product-top">
        <h4><b>Properties</b></h4>

        <ul>
            <li class="dropdown head-dpdn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Filter By <img style="height:30px" src="https://img.icons8.com/nolan/64/000000/menu.png"></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Rent", "Rent")</li>
                    <li>@Html.ActionLink("Sale", "Sale")</li>

                </ul>
            </li>

        </ul>
        <div class="clearfix"> </div>
    </div>

    <div class="clearfix"> </div>
    @foreach (var item in Model)
    {
        var imagename = item.PropertyImages.FirstOrDefault(c => c.IsDefaultImage == true)?.ImagePath;
        if (imagename == null)
        {
            imagename = "noImage.png";
        }
        <div class="products-row">
            <div class="col-md-3 product-grids" style="width:255px; height:390px">
                <div style="padding: 0.7em; width:255px; height:380px" class="agile-products">
                    <div class="new-tag">
                        <h6>
                            @if (item.IsPropertyForRent == true)
                            { <text>Rent</text>}
                            else
                            {<text>Sale</text> }
                        </h6>
                    </div>
                    <img style="height:306px;width:245px;float:left;" src="~/UploadImage/@imagename" alt="img">
                    <div class="agile-product-text">
                        @Html.ActionLink("Details", "Details", new { id = item.PropertyId }, new { @class = "my-class" })<br>
                        <span style=" white-space nowrap; overflow hidden; text-overflow ellipsis;"> @Html.DisplayFor(modelItem => item.PropertyName) </span>
                        <h6>@Html.DisplayFor(modelItem => item.Price)</h6>
                        <form action="#" method="post">

                            <input type="hidden" name="amount" value=@Html.DisplayFor(modelItem => item.Price) />

                        </form>
                    </div>
                </div>
                <div class="clearfix"> </div>
                </div>
            </div>
            }
            <!-- add-products -->
            @*<div class="w3ls-add-grids w3agile-add-products">
                    <a href="#">
                        <h4> Buy Your <span>Desir</span>  Home </h4>

                    </a>
                </div>*@
            <!-- //add-products -->
        </div>
            <div class="col-md-3 rsidebar">

            </div>
            <div class="clearfix"> </div>
            <!-- recommendations -->
            <!-- //recommendations -->
        </div>
    </div>
    <!--//products-->
    <!-- footer-top -->
    <div class="w3agile-ftr-top">
        <div class="container">
            <div class="ftr-toprow">
                <div class="col-md-6 ftr-top-grids" style="float:left">
                    <div class="ftr-top-left" style="margin-left:20px">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>CUSTOMER CARE</h4>
                        <p> We ensure that we take care of our customers.  </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-5 ftr-top-grids" style="float:left">
                    <div class="ftr-top-left">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>GOOD QUALITY</h4>
                        <p>We ensure that we provide good quality things. </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <!-- //footer-top -->
    <!-- subscribe -->
    <!-- //subscribe -->
    <!-- footer -->
    <!-- cart-js -->
    <script src="~/Scripts/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                    items[i].set('shipping', 0);
                    items[i].set('shipping2', 0);
                }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- menu js aim -->
    <script src="~/Scripts/jquery.menu-aim.js"> </script>
    <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
    <!-- //menu js aim -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/bootstrap.js"></script>
</body>






