﻿@model IEnumerable<HousingCousine1.Models.Property>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <style>
        #slider {
            margin: 10px;
        }
    </style>

    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

    <div class="products">
        <div class="container">
            <div style="margin-left:55px;float:left;" class="col-md-12 product-w3ls-right">
                <!-- breadcrumbs -->
                <ol class="breadcrumb breadcrumb1">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active"><a>@Html.ActionLink("Property", "Home")</a></li>

                    <li class="active">Sale</li>


                    <ul style="float:right">
                        <li class="dropdown head-dpdn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add New Item<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a>@Html.ActionLink("Add Property", "Create")</a></li>
                                <li><a> @Html.ActionLink("My ADDS", "myadds")</a></li>


                            </ul>
                        </li>

                    </ul>
                </ol>
                <!-- //breadcrumbs -->
                <div class="product-top">
                    <h4><b>Sale</b></h4>

                    <ul>
                        <li class="dropdown head-dpdn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Filter By <img style="height:30px" src="https://img.icons8.com/nolan/64/000000/menu.png"></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Rent", "Rent")</li>
                                <li>@Html.ActionLink("Sale", "Sale")</li>
                            </ul>
                        </li>

                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <br />

                <!-- Filters start -->

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget widget-price">
                                <h3 class="widget-tile">Filter by Price</h3>
                                <br />
                                <div class="price-filter">
                                    <div id="slide-range" style="border-color:#3FE331;width:95%"></div>
                                    <br />
                                    <h5 class="amount">
                                        Minimum Price:
                                        &nbsp;
                                        <input style="width:22%" type="number" id="amount" disabled="disabled">
                                        &nbsp;
                                        Maximum Price:
                                        &nbsp;
                                        <input style="width:22%" type="number" id="amount1" disabled="disabled">
                                    </h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="widget widget-price">
                                <h3 class="widget-tile">Filter by Marla</h3>
                                <br />
                                <div class="price-filter">
                                    <div id="slide-rang" style="border-color:#3FE331;width:95%"></div>
                                    <br />
                                    <h5 class="amount">
                                        Minimum Marla:
                                        &nbsp;
                                        <input style="width:22%" type="number" id="amount2" disabled="disabled">
                                        &nbsp;
                                        Maximum Marla:
                                        &nbsp;
                                        <input style="width:22%" type="number" id="amount3" disabled="disabled">
                                    </h5>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="widget widget-price">
                                <h3 class="widget-tile">Filter by Bed</h3>
                                <br />
                                <div class="price-filter">
                                    <div id="bed-range" style="border-color:#3FE331;width:85%"></div>
                                    <br />
                                    <h5 class="amount">
                                        Min :
                                        &nbsp;
                                        <input style="width:22%" type="number" id="amount4" disabled="disabled">
                                        &nbsp;
                                        Max:
                                        &nbsp;
                                        <input style="width:22%" type="number" id="amount5" disabled="disabled">
                                    </h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget widget-price">
                                <h3 class="widget-tile">Filter by Bath</h3>
                                <br />
                                <div class="price-filter">
                                    <div id="bath-range" style="border-color:#3FE331;width:85%"></div>
                                    <br />
                                    <h5 class="amount">
                                        Min:
                                        &nbsp;
                                        <input style="width:22%" type="number" id="amount6" disabled="disabled">
                                        &nbsp;
                                        Max:
                                        &nbsp;
                                        <input style="width:22%" type="number" id="amount7" disabled="disabled">
                                    </h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget widget-price">
                                <h3 class="widget-tile">Filter by Area</h3>
                                <br />
                                <div>
                                    <input id="Citysearch" style="width:100%;border: solid 1px grey" type="text" name="Search" placeholder="Search for a CityName..." required>

                                    <button id="btnCitySearch" style="width: 100%;border: solid 1px grey;margin-top:5px;height:50%; " type="button" value="Search" class="btn btn-default" aria-label="Left Align">
                                        <i class="fa fa-search" aria-hidden="true"> </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget widget-price">
                                <h3 class="widget-tile">  </h3>
                                <br />
                                <br />
                                <div>
                                    <input id="Locationsearch" style="width:100%;margin-top:6px; border: solid 1px grey" type="text" name="Search1" placeholder="Search for a LocationName..." required>
                                    @*<button id="btnLocationsearch" style="width: 20%; " type="button" value="Search1" class="btn btn-default" aria-label="Left Align">
                                            <i class="fa fa-search" aria-hidden="true"> </i>
                                        </button>*@

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Filters end -->

                <br /><br />
                <div id="ajax">
                    @{Html.RenderPartial("SalesResult");}
                </div>
            </div>
            <div class="col-md-3 rsidebar">

            </div>
            <div class="clearfix"> </div>
            <!-- recommendations -->
            <!-- //recommendations -->
        </div>
    </div>
    <!--//products-->
    <!-- footer-top -->
    <div class="w3agile-ftr-top">
        <div class="container">
            <div class="ftr-toprow">

                <div class="col-md-6 ftr-top-grids" style="float:left">
                    <div class="ftr-top-left" style="margin-left:20px">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>CUSTOMER CARE</h4>
                        <p> We ensure that we take care of our customers.  </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-5 ftr-top-grids" style="float:left">
                    <div class="ftr-top-left">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>GOOD QUALITY</h4>
                        <p>We ensure that we provide good quality things. </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <!-- //footer-top -->
    <!-- subscribe -->
    <!-- //subscribe -->
    <!-- footer -->
    <!-- cart-js -->
    <script src="~/Scripts/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                    items[i].set('shipping', 0);
                    items[i].set('shipping2', 0);
                }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- menu js aim -->
    <script src="~/Scripts/jquery.menu-aim.js"> </script>
    <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
    <!-- //menu js aim -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/bootstrap.js"></script>

    <script>
        var min_price_range = parseInt($("#amount").val());
        var max_price_range = parseInt($("#amount1").val());
        var min_Marla_range = parseInt($("#amount2").val());
        var max_Marla_range = parseInt($("#amount3").val());
        var min_bed_range = parseInt($("#amount4").val());
        var max_bed_range = parseInt($("#amount5").val());
        var min_bath_range = parseInt($("#amount6").val());
        var max_bath_range = parseInt($("#amount7").val());

        var search=parseInt($("#search").val());
        $("#slide-range").slider({
            values: [min_price_range, max_price_range]
        });
        $("#slide-rang").slider({
            values: [min_Marla_range, max_Marla_range]
        });
        $("#bed-range").slider({
            values: [min_bed_range, max_bed_range]
        });
        $("#bath-range").slider({
            values: [min_bath_range, max_bath_range]
        });


        var calltimeout;
        var priceSlider = $("#slide-range").slider({
            range: true,
            min: 0,
            max: @ViewBag.Price,
            values:[0,@ViewBag.Price],
            step:500,
            slide: function (event, ui) {
                var minPrice=ui.values[0];
                var maxPrice=ui.values[1];
                console.log("slided");
                $("#amount").val("" + minPrice + ".00" );
                $("#amount1").val("" + maxPrice + ".00" );
                clearTimeout(calltimeout);
                calltimeout=setTimeout(GetData,2000);
            }
        });

        var MarlaSlider = $("#slide-rang").slider({
            range: true,
            min: 0,
            max: @ViewBag.MaxMarla,
            values:[0,@ViewBag.MaxMarla],
            step:1,
            slide: function (event, ui) {
                var minMarla=ui.values[0];
                var maxMarla=ui.values[1];
                console.log("slided");
                $("#amount2").val("" + minMarla  );
                $("#amount3").val("" + maxMarla );
                clearTimeout(calltimeout);
                calltimeout=setTimeout(GetData,2000);
            }
        });
        var bedslider = $("#bed-range").slider({
            range: true,
            min: 0,
            max: @ViewBag.bed,
            values:[0,@ViewBag.bed],
            step:1,
            slide: function (event, ui) {
                var minbed=ui.values[0];
                var maxbed=ui.values[1];
                console.log("slided");
                $("#amount4").val("" + minbed );
                $("#amount5").val("" + maxbed );
                clearTimeout(calltimeout);
                calltimeout=setTimeout(GetData,2000);
            }
        });
        var bathslider = $("#bath-range").slider({
            range: true,
            min: 0,
            max: @ViewBag.bath,
            values:[0,@ViewBag.bath],
            step:1,
            slide: function (event, ui) {
                var minbath=ui.values[0];
                var maxbath=ui.values[1];
                console.log("slided");
                $("#amount6").val("" + minbath );
                $("#amount7").val("" + maxbath );
                clearTimeout(calltimeout);
                calltimeout=setTimeout(GetData,2000);
            }
        });

        $('#btnCitySearch').click(function () {
            debugger;
            var Citysearch = $("#Citysearch").val()
            var Locationsearch = $("#Locationsearch").val()
            GetData(Citysearch, Locationsearch);
        })




        function GetData(Citysearch, Locationsearch){
            debugger;
            var citysearchvalue = Citysearch;
            var Locationsearchvalue=Locationsearch
            console.log("Calltimeout called");
            debugger;
            $.ajax({

                url:'@Url.Action("SalesResult", "Housing")',
                data:{
                    minPrice:priceSlider.slider("values",0),
                    maxPrice:priceSlider.slider("values",1),
                    minMarla:MarlaSlider.slider("values",0),
                    maxMarla:MarlaSlider.slider("values",1),
                    minbed:bedslider.slider("values",0),
                    maxbed:bedslider.slider("values",1),
                    minbath:bathslider.slider("values",0),
                    maxbath:bathslider.slider("values",1),
                    Citysearch: citysearchvalue,
                    Locationsearch:Locationsearchvalue

                }

            })
            .done(function(response){
                $("#ajax").html(response);
            })
            .fail(function(XMLHttpRequest,textStatus,errorThrown){
                alert("Fail")
            })
        }
    </script>
</body>
