﻿@{
    ViewBag.Title = "About";
}



   
    <!--  about-page -->
    <div class="about">
        <div class="container">
            <h3 class="w3ls-title w3ls-title1">About Housing And Cuisine</h3>
            <div class="about-text">
                <p>Housing & Cuisine is the first and largest online portal in Pakistan. It was founded in 2018 and has since revolutionised the real estate industry of Pakistan by connecting buyers and sellers online in a highly convenient way, making it a household name among Pakistanis around the world. It is the pioneering property and cuisine portal of Pakistan, with more than 12,500 agencies registered. A small team of problem solvers, designers, thinkers and tinkers, work around the clock to search property or nearby restaurant online easy, fast and fun. The service is available in Karachi, Lahore, Islamabad, Rawalpindi, Faisalabad, Sialkot, Multan, Hyderabad and Peshawar.</p>
                <div class="col-md-3 ftr-top-left about-text-grids">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    <h4>10 Million+ <br>Products</h4>
                </div>
                <div class="col-md-3 ftr-top-left about-text-grids">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h4>50,000 <br> Sellers </h4>
                </div>
                <div class="col-md-3 ftr-top-left about-text-grids">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <h4>5 Million <br>Shipments</h4>
                </div>
                <div class="col-md-3 ftr-top-left about-text-grids">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h4>4000+ <br>Cities</h4>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="history">
                <h3 class="w3ls-title">Our Mission</h3>
                <p>This project is based on the guidance for those customers which face difficulty in finding Rooms or Houses and Restaurants and Hotels in another city.  In this era of technology, we try to perform many of our tasks through phone and internet. Because of busy schedules people are moving towards online renting and cuisine more than ever and there is tons of it. The system is used to easily identify the suitable place and homemade food in short time. The information of various property and restaurants in various locations can be accessible at one place. Our mission is to provide a platform to home line property sellers and buyers or restaurants and cuisine. This system also will keep record of contact information of customer. </p>
                <h3 class="w3ls-title">Our History</h3>
                <p>Housing And Cuisine was founded in 2018 by four Pakistani group mates, Talha Baig, Maryam Qadeer, M.Sohaib  and Ali Gohar. In 2018, these are took up the role of Chairman at Housing And Cuisine and manage it well.</p>
            </div>
        </div>
    </div>
    <!-- //about-page -->
<!-- footer-top -->
<div class="w3agile-ftr-top">
    <div class="container">
        <div class="ftr-toprow">

            <div class="col-md-6 ftr-top-grids" style="float:left">
                <div class="ftr-top-left" style="margin-left:20px">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>CUSTOMER CARE</h4>
                    <p> We ensure that we take care of our customers.  </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 ftr-top-grids" style="float:left">
                <div class="ftr-top-left">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>GOOD QUALITY</h4>
                    <p>We ensure that we provide good quality things. </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- //footer-top -->