﻿@{
    ViewBag.Title = "Contact";
}
<div class="contact">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Contact Us</h3>
        <p> You can reach us via phone, email and we would be more than glad to help you.We’ve deployed dedicated resources to assist, guide, attend and answer your queries throughout the week.   </p>
        <br>
        <br>
        <div class="contact-form-row">
            <div class="col-md-7 contact-left">
                <form action="#" method="post">
                    <input style="width:89%" type="text" name="Name" placeholder="Name" required>
                    <input style="width:89%" type="text" name="Email" placeholder="Email" required>
                    <textarea placeholder="Message" name="Message" required></textarea>
                    <input onclick="myFunction()" type="submit" value="SUBMIT">
                </form>
            </div>
           
                <div class="clearfix"> </div>
            </div>
        
    </div>
</div> 
<!-- footer-top -->
<div class="w3agile-ftr-top">
    <div class="container">
        <div class="ftr-toprow">

            <div class="col-md-6 ftr-top-grids" style="float:left">
                <div class="ftr-top-left" style="margin-left:20px">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>CUSTOMER CARE</h4>
                    <p> We ensure that we take care of our customers.  </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 ftr-top-grids" style="float:left">
                <div class="ftr-top-left">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>GOOD QUALITY</h4>
                    <p>We ensure that we provide good quality things. </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- //footer-top -->
<script>
            function myFunction() {
                alert("Your Message has been added");
            }
</script>


@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@