﻿
@{
    ViewBag.Title = "Help";
}

<div class="help">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">How can we help you</h3>
        <div class="header-search">
            <form action="#" method="post">
                <input type="search" name="Search" placeholder="Please type your query eg.Return, Refund or others." required>
                <i class="fa fa-search" aria-hidden="true"> </i>
                <button type="submit" class="btn btn-default" aria-label="Left Align">
                    Submit
                </button>
            </form>
        </div>
        <div class="faq-w3agile">
            <h5>Top 5 Frequently asked questions(FAQ)</h5>
            <ul class="faq">
                <li class="item1">
                    <a href="#" title="click here">What is Housing and Cuisine?</a>
                    <ul>
                        <li class="subitem1"><p>Housing & Cuisine is the first and largest online portal in Pakistan. It was founded in 2018 and has since revolutionised the real estate industry of Pakistan by connecting buyers and sellers online in a highly convenient way, making it a household name among Pakistanis around the world. It is the pioneering property and cuisine portal of Pakistan, with more than 12,500 agencies registered. A small team of problem solvers, designers, thinkers and tinkers, work around the clock to search property or nearby restaurant online easy, fast and fun. The service is available in Karachi, Lahore, Islamabad, Rawalpindi, Faisalabad, Sialkot, Multan, Hyderabad and Peshawar.</p></li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" title="click here">How can I create an account at Housing and Cuisine? </a>
                    <ul
							<li class="subitem1"><p>Click on 'Sign Up' at the bottom of the login page. Then fill out all information in the ‘Create an account’ section and click the ‘Register’ button.</p></li>
						</ul>
                </li>
                <li class="item3">
                    <a href="#" title="click here">What are the working hours of Housing and Cuisine?</a>
                    <ul>
                        <li class="subitem1"><p> From 9AM to 7:30 or sometimes till 9 PM.</p></li>
                    </ul>
                </li>
                <li class="item4">
                    <a href="#" title="click here">If you were in charge, what would you do to make Housing and Cuisine a better place to work?</a>
                    <ul>
                        <li class="subitem1"><p> Amend the prevailing culture and encourage the initiatives.</p></li>
                    </ul>
                </li>
                <li class="item5">
                    <a href="#" title="click here">Who & How can I contact at Housing and Cuisine?</a>
                    <ul>
                        <li class="subitem1"><p>On given email or number you can contact us.</p></li>
                    </ul>
                </li>


            </ul>
            <!-- script for tabs -->
            <script type="text/javascript">
					$(function() {

						var menu_ul = $('.faq > li > ul'),
							   menu_a  = $('.faq > li > a');

						menu_ul.hide();

						menu_a.click(function(e) {
							e.preventDefault();
							if(!$(this).hasClass('active')) {
								menu_a.removeClass('active');
								menu_ul.filter(':visible').slideUp('normal');
								$(this).addClass('active').next().stop(true,true).slideDown('normal');
							} else {
								$(this).removeClass('active');
								$(this).next().stop(true,true).slideUp('normal');
							}
						});

					});
            </script>
            <!-- script for tabs -->
        </div>
    </div>
</div>

