﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Housing & Cuisine | Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Housing & Cuisine, Houses, Foods " />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
    <link href="~/css/ken-burns.css" rel="stylesheet" type="text/css" media="all" /> <!-- banner slider -->
    <link href="~/css/animate.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"> <!-- carousel slider -->
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <!-- web-fonts -->
    <script src="~/Scripts/owl.carousel.js"></script>
    <script>
$(document).ready(function() {
	$("#owl-demo").owlCarousel({
	  autoPlay: 3000, //Set AutoPlay to 3 seconds
	  items :4,
	  itemsDesktop : [640,5],
	  itemsDesktopSmall : [480,2],
	  navigation : true

	});
});
    </script>
   
   
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>


    <!-- header -->
    <div class="header">

        <div class="header-three">
            <!-- header-three -->
            <div class="container">

                <div class="move-text">
                    <div class="marquee"><a href="offers.html"> New things are available here...... <span>Get homemade dishes at a low price | no extra taxes </span> <span> Get your desire home</span></a></div>
                    <script type="text/javascript" src="~/Scripts/jquery.marquee.min.js"></script>
                    <script>
					  $('.marquee').marquee({ pauseOnHover: true });
					  //sourceURL=pen.js
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- //header -->
 
    <!-- banner -->
    <div class="banner">
        <div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
            <!-- Wrapper-for-Slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <!-- First-Slide -->
                    <img src="~/images/Homepic.jpg" style="height:620px" alt="" class="img-responsive" />

                </div>
                <div class="item">
                    <!-- Second-Slide -->
                    <img src="~/images/Homepics.jpg" style="height:620px" alt="" class="img-responsive" />

                </div>
                <div class="item">
                    <!-- Third-Slide -->
                    <img src="~/images/Homepic3.jpg" style="height:620px" alt="" class="img-responsive" />

                </div>
                <div class="item">
                    <!-- Fourth-Slide -->
                
                    <img src="~/Images/apna.jpg" style="height:620px" alt="" class="img-responsive" />

                </div>
                <div class="buttons-wrapper">
                    <div class="row center">
                        <a class="waves-effect waves-light btn hoverable mg-rg" href="@Url.Action("Home", "Housing")">Housing</a>
                        <br>
                        <a class="waves-effect waves-light btn hoverable mg-rg" href="@Url.Action("Home", "Cuisine")">Cuisine</a>
                        <br>
                        <a class="waves-effect waves-light btn hoverable mg-rg" href="@Url.Action("Steel", "Restaurant")">Restaurant</a>

                     </div>
                </div>
                
            </div>


            <!-- Left-Button -->
            <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
                <span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <!-- Right-Button -->
            <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <script src="~/Scripts/custom.js"></script>
</div>
    <!-- //banner -->






    <div class="copy-right">
        <div class="container">
            <p>©2019 Housing & Cuisine . All rights reserved. </p>
        </div>
    </div>
    <!-- cart-js -->
    <script src="~/Scripts/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>
    <!-- //cart-js -->
    <!-- countdown.js -->
    <script src="~/Scripts/jquery.knob.js"></script>
    <script src="~/Scripts/jquery.throttle.js"></script>
    <script src="~/Scripts/jquery.classycountdown.js"></script>
    <script>
			$(document).ready(function() {
				$('#countdown1').ClassyCountdown({
					end: '1388268325',
					now: '1387999995',
					labels: true,
					style: {
						element: "",
						textResponsive: .5,
						days: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#1abc9c",
								lineCap: 'round'
							},
							textCSS: 'font-weight:300; color:#fff;'
						},
						hours: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#05BEF6",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						minutes: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#8e44ad",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						seconds: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#f39c12",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						}

					},
					onEndCallback: function() {
						console.log("Time out!");
					}
				});
			});
    </script>
    <!-- //countdown.js -->
    <!-- menu js aim -->
    <script src="~/Scripts/jquery.menu-aim.js"> </script>
    <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->
    <!-- //menu js aim -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
