﻿
@{
    ViewBag.Title = "MarketPlace";
}

<div class="w3l-services">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Marketplace</h3>
        <div class="services-row">
            <div class="col-md-4 services-grids">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <h4>Best Performance</h4>
                <p>We ensure to give our best and make things easy for you people.</p>
            </div>
            <div class="col-md-4 services-grids">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <h4>Expand audience</h4>
                <p>Audience Expansion allows you, as an advertiser, to increase the reach of your company.</p>
            </div>
            <div class="col-md-4 services-grids">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <h4>Relay on our Safety</h4>
                <p>This website uses cookies to ensure you get the best experience on our website. </p>
            </div>
            <div class="col-md-4 services-grids services-grids-btm">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <h4>Business partner</h4>
                <p>Till now no one is our business partner, if in future anyone become, so company will update it.</p>
            </div>
            <div class="col-md-4 services-grids services-grids-btm">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                <h4>Good quality</h4>
                <p>We struggle to provide good quality nd relaiable data or information.</p>
            </div>

            <div class="col-md-4 services-grids services-grids-btm">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <h4>User Requirements</h4>
                <p>We try our best to fulfil your desires or needs.</p>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- footer-top -->
<div class="w3agile-ftr-top">
    <div class="container">
        <div class="ftr-toprow">

            <div class="col-md-6 ftr-top-grids" style="float:left">
                <div class="ftr-top-left" style="margin-left:20px">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>CUSTOMER CARE</h4>
                    <p> We ensure that we take care of our customers.  </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 ftr-top-grids" style="float:left">
                <div class="ftr-top-left">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>GOOD QUALITY</h4>
                    <p>We ensure that we provide good quality things. </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- //footer-top -->
