﻿@{
    ViewBag.Title = "Privacy";
}
 
    <!-- privacy-page -->
    <div class="privacy">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Privacy Policy</h3>
        <div class="privacy-w3row">
            <p>At Housing & Cuisine, We use the personal information which you provide to us when using our service, including but not limited to our website. Please read this Privacy Policy and understand it before using our services. By visiting on this Website, you agree and, where required, consent to the collection, use and transfer of your information as set out in this policy. </p>
            <p>We have implemented security policies, rules and technical measures to protect the personal data that we have under our control from unauthorised access, improper use and disclosure, unauthorised destruction or accidental loss. </p>
            <p>Housing & Cuisisne reserves the right to alter all or any part of this Privacy Policy </p>
            <h5>What Does Our Privacy Policy Include?</h5>
            <p>We collect personal information from you when you use our Website. </p>
            <p>We also collect information when you complete any customer survey.</p>
            <p>Website usage information may also be collected using cookies (as defined below). We will collect information that personally identifies you and/or your location, where required (this may include your name, email address, home address, phone number, location, etc.), but only when you voluntarily give it to us. </p>
            <h5>How Do We Use Your Personal Information?</h5>
            <p>
                Information that we collect from you is used to manage your account. Housing & Cuisine reserves the right to disclose your personal information if it is required or authorised to do so by law, or, if it is reasonably necessary in its opinion to protect the rights or property of Housing & Cuisine or any third party, or to avoid injury to any person. If the Housing & Cuisine  business is sold or merges with another entity then some or all of your personal information may be passed to a third party.

            </p>
            <p> You may ask us whether we are storing personal information about you by emailing our admin department via the Contact page and, if you wish and upon payment of a fee of $10, we will provide you with a copy of the personal data we hold about you by email.  </p>

        </div>
    </div>
</div>
    <!-- //privacy-page -->
<!-- footer-top -->
<div class="w3agile-ftr-top">
    <div class="container">
        <div class="ftr-toprow">

            <div class="col-md-6 ftr-top-grids" style="float:left">
                <div class="ftr-top-left" style="margin-left:20px">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>CUSTOMER CARE</h4>
                    <p> We ensure that we take care of our customers.  </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 ftr-top-grids" style="float:left">
                <div class="ftr-top-left">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>GOOD QUALITY</h4>
                    <p>We ensure that we provide good quality things. </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- //footer-top -->

    
  