﻿
@{
    ViewBag.Title = "SiteMap";
}
<div class="sitemap">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Our Sitemap</h3>
        <div class="sitemap-row">
            <nav class="sitemap-tabs" data-spy="affix" data-offset-top="400">
                <div id="myNavbar">
                    <ul>
                        <li><a href="#w3sec1"><i class="fa fa-home"></i> Housing </a></li>
                        <li><a href="#w3sec2"><i class="fa fa-shopping-basket"></i>Cuisine</a></li>

                    </ul>
                </div>
            </nav>
            <div id="w3sec1" class="container-fluid sitemap-text">
                <h3 class="w3sitemap-title"><i class="fa fa-home"></i> Housing </h3>
                <div class="col-md-3 sitemap-text-grids">
                    <h5 class="sitemap-text-title"><a href="products.html">Houses</a></h5>

                    <h5 class="sitemap-text-title"><a href="products.html">Flats</a></h5>

                </div>
                <div class="col-md-3 sitemap-text-grids">
                    <h5 class="sitemap-text-title"><a href="products.html">Rooms</a></h5>

                    <h5 class="sitemap-text-title"><a href="products.html">Plots</a></h5>

                </div>
                <div class="col-md-3 sitemap-text-grids">
                    <h5 class="sitemap-text-title"><a href="products.html">Appartments</a></h5>

                </div>

                <div class="clearfix"> </div>
            </div>
            <div id="w3sec2" class="container-fluid sitemap-text">
                <h3 class="w3sitemap-title"><i class="fa fa-shopping-basket"></i> Cuisine</h3>
                <nav class="sitemap-tabs">

                    <div id="myNavbar">
                        <ul>
                           
                            <li><a href="#w3sec3"><i class="fa fa-shopping-basket"></i> HomeMade Dishes </a></li>

                        </ul>
                    </div>
                </nav>

            </div>
           
            <div id="w3sec3" class="container-fluid sitemap-text">
                <h3 class="w3sitemap-title"><i class="fa fa-shopping-basket"></i> HomeMade Dishes</h3>
                <div class="col-md-3 sitemap-text-grids">
                    <h5 class="sitemap-text-title"><a href="products3.html">Briyani</a></h5>

                    <h5 class="sitemap-text-title"><a href="products3.html">Qorma</a></h5>

                </div>
                <div class="col-md-3 sitemap-text-grids">
                    <h5 class="sitemap-text-title"><a href="products3.html">Vegetables</a></h5>

                </div>
                <div class="col-md-3 sitemap-text-grids">
                    <h5 class="sitemap-text-title"><a href="products3.html">Karahi </a></h5>

                </div>
                <div class="col-md-3 sitemap-text-grids">
                    <h5 class="sitemap-text-title"><a href="products3.html">Roti </a></h5>

                </div>
                <div class="clearfix"> </div>
            </div>




        </div>
        <script>
			$(document).ready(function(){
			  // Add scrollspy to <body>
			  $('body').scrollspy({target: ".sitemap-tabs", offset: 50});

			  // Add smooth scrolling on all links inside the navbar
			  $("#myNavbar a").on('click', function(event) {
				// Make sure this.hash has a value before overriding default behaviour
				if (this.hash !== "") {
				  // Prevent default anchor click behaviour
				  event.preventDefault();

				  // Store hash
				  var hash = this.hash;

				  // Using jQuery's animate() method to add smooth page scroll
				  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
				  $('html, body').animate({
					scrollTop: $(hash).offset().top
				  }, 800, function(){

					// Add hash (#) to URL when done scrolling (default click behaviour)
					window.location.hash = hash;
				  });
				}  // End if
			  });
			});
        </script>
        <div class="sitemap-row2  sitemap-text">
            <h3 class="w3sitemap-title"><i class="fa fa-gears"></i>Housing And Cuisine Services</h3>
            <div class="col-md-4 sitemap-text-grids">
                <ul>
                    <li><a href="marketplace.html">Marketplace</a></li>
                    <li><a href="values.html">Core Values</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                </ul>
            </div>
            <div class="col-md-4 sitemap-text-grids">
                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="Help.html">Help</a></li>

                </ul>
            </div>
            
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- footer-top -->
<div class="w3agile-ftr-top">
    <div class="container">
        <div class="ftr-toprow">

            <div class="col-md-6 ftr-top-grids" style="float:left">
                <div class="ftr-top-left" style="margin-left:20px">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>CUSTOMER CARE</h4>
                    <p> We ensure that we take care of our customers.  </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 ftr-top-grids" style="float:left">
                <div class="ftr-top-left">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                <div class="ftr-top-right">
                    <h4>GOOD QUALITY</h4>
                    <p>We ensure that we provide good quality things. </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<br />
<br />
<!-- //footer-top -->
