﻿
@{
    ViewBag.Title = "Values";
}
<div class="values">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Core Values</h3>
        <h5>About Core Values</h5>
        <p>This project is based on the guidance for those customers which face difficulty in finding Rooms or Houses and Restaurants and Hotels in another city.  In this era of technology, we try to perform many of our tasks through phone and internet. Because of busy schedules people are moving towards online renting and cuisine more than ever and there is tons of it. The system is used to easily identify the suitable place and homemade food in short time. The information of various property and restaurants in various locations can be accessible at one place. Our mission is to provide a platform to home line property sellers and buyers or restaurants and cuisine. This system also will keep record of contact information of customer. </p>
        <div class="w3values-row">
            <h5>Here  are some core values :</h5>
        
                <div class="col-md-6 w3values-grids" style="float:left">
                    <h6>1. INNOVATION</h6>
                    <p>Innovation in its modern meaning is a "new idea, creative thoughts, new imaginations in form of device or method".Innovation is often also viewed as the application of better solutions that meet new requirements, unarticulated needs or existing market needs.  </p>
                </div>
                <div class="col-md-6 w3values-grids" style="float:left">
                    <h6>2. OPENNESS</h6>
                    <p>Openness is one of the five personality traits of the Big Five personality theory. It indicates how open-minded a person is. A person with a high level of openness to experience in a personality test enjoys trying new things. They are imaginative, curious, and open-minded.  </p>
                </div>
        
            
                <div class="col-md-6 w3values-grids" style="float:left">
                    <h6>3. OWNERSHIP</h6>
                    <p>Ownership is the state or fact of exclusive rights and control over property. Ownership involves multiple rights, collectively referred to as title, which may be separated and held by different parties.  </p>
                </div>
                <div class="col-md-6 w3values-grids" style="float:left">
                    <h6>4. HONESTY</h6>
                    <p>Honesty is a fact of moral character such as integrity, truthfulness, straightforwardness, including straightforwardness of conduct, along with the absence of lying, cheating, theft, etc. We ensure to  being honest. </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            
    </div>
</div>
<!-- //values-page --> 
<!-- footer-top -->
    <div class="w3agile-ftr-top">
        <div class="container">
            <div class="ftr-toprow">

                <div class="col-md-6 ftr-top-grids" style="float:left">
                    <div class="ftr-top-left" style="margin-left:20px">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>CUSTOMER CARE</h4>
                        <p> We ensure that we take care of our customers.  </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-5 ftr-top-grids" style="float:left">
                    <div class="ftr-top-left">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <div class="ftr-top-right">
                        <h4>GOOD QUALITY</h4>
                        <p>We ensure that we provide good quality things. </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <!-- //footer-top -->
   