﻿@model HousingCousine1.Models.Property

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "PropertyImage", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Property Request</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PropertyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PropertyName)
            @Html.ValidationMessageFor(model => model.PropertyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PropertyDescription)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PropertyDescription)
            @Html.ValidationMessageFor(model => model.PropertyDescription)
        </div>


<div class="form-group">
    @Html.LabelFor(model => model.IsPropertyForRent, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.IsPropertyForRent)
            @Html.ValidationMessageFor(model => model.IsPropertyForRent, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div>
    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    @Html.ValidationMessageFor(Model => Model.Price, "", new { @class = "text-danger" })
</div>
           

        <div class="editor-label">
            <label>Files:</label>
        </div>
        <div class="editor-field">
            <input type="file" name="file" multiple="multiple" />
        </div>

        <div class="col-lg-4">
         

            <br />
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PropertyImages, new { type = "file", @onchange = "readURL(this) ;", multiple = "multiple" })

                @*<input type="file" name="ImageUpload" accept="image/jpeg,image.png" />*@

            </div>

            <img style="border-radius: 25px;" id="pic" src="" alt="your image" multiple = "multiple" />




        </div>
        <p>
            <input type="submit" value="Create" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pic')
                        .attr('src', e.target.result)
                        .width(200)

                },

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>