﻿@model HousingCousine1.Models.Property

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Property</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PropertyId)
        <div class="col-lg-8">
            <div class="form-group">
                <h3>Peoperty Name</h3>
                @*@Html.LabelFor(model => model.PropertyName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PropertyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PropertyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h3>Rent</h3>
                @*@Html.LabelFor(model => model.IsPropertyForRent, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPropertyForRent)
                        @Html.ValidationMessageFor(model => model.IsPropertyForRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h3>Price</h3>
                @*@Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <h3>Created Date</h3>
                @*@Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h3>Property Discription
                </h3>
                @Html.LabelFor(model => model.PropertyDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PropertyDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PropertyDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="editor-label">
                    <label>Images:</label>
                </div>
                <ul class="attachment">
                    @foreach (var item in Model.PropertyImages)
                {
                        <li>
                            <img style="width:180px;height:120px;border-radius:25px" src="~/UploadImage/@item.ImagePath" /> 
                            <br /><br />
                            </li>
                    }
                </ul>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#pict')
                        .attr('src', '#pic')
                        .width(200)
                },
                reader.readAsDataURL(input.files[0]);
            }
        }
</script>