﻿@model IEnumerable<HousingCousine1.Models.Property>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPropertyForRent)
        </th>
        
      
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPropertyForRent)
        </td>
     
     
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyId })
        </td>
    </tr>
}

</table>
